.loclinks {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 20px;
}

#copyright,
#longevity {
    display: inline-block;
    width: 50%;
}

#longevity {
    text-align: right;
}

footer {
    background: #222222;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    border-top: 3px solid #ee3a43;
}

footer span {
    color: #ee3a43;
}

footer .widget-title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    color: #ee3a43 !important;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color: white;
}

footer a,
.copywrap a {
    color: white !important;
}

footer a:hover,
.copywrap a:hover,
a:active {
    color: #ee3a43 !important;
}

footer .widget-container {
    width: 33.3%;
    display: inline-block;
    margin: 40px 0px;
}

.copywrap {
    background: #1a1a1a;
    font-size: 12px;
    padding: 20px 0px;
    color: #fff;
}

footer .widget-container:nth-child(3) {
    text-align: right;
}

footer .widget-container:nth-child(2) {
    text-align: center;
}

footer.fullwidth .container {
    // outline: solid 1px yellow;
    overflow: hidden;
    .widget.widget-container {
        // outline: solid 1px green; 
        @include span(12);
        margin-bottom: 12px;
        @include breakpoint($screen-sm-min) {
            @include span(4);
        }
    }
}

footer.fullwidth .loclinks {
    @include span(12);
}

.copywrap {
    // outline: solid 1px yellow; 
    margin-top: 12px;
    overflow: hidden;
    clear: both;

	.container{
		// outline: solid 1px green; 

		#copyright, #longevity{
			// outline: solid 1px yellow;
			@include span(6);
		}
	}

} 