header{
    background: #ee3a43 none repeat scroll 0 0;
    // border-bottom: 4px solid #222222;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 0;
	 

	// Base Layout
	.container-header{
		@include container(1440px);
	}

	.left{
		// outline: solid 1px blue;
		@include span(12);

		@include breakpoint($screen-md-min){
			@include span(6);
		}

		@include breakpoint($screen-lg-min){
			@include span(6); 
		}
	}

	.right{
		// outline: solid 1px blue;
		@include span(12);

		@include breakpoint($screen-md-min){
			@include span(6); 
		}  

		@include breakpoint($screen-lg-min){
			@include span(6);
		} 

			.vcenter{
				// outline: solid 1px green;
				min-height: 134px;
				display: flex;
				justify-content: center;
				align-items: center;
			}


	}


	// Left Layout
	.left{
		// outline: solid 1px blue;
		
		.logo-cont{
			// outline: solid 1px green;
			@include span(10);
			@include push(1);
			
			@include breakpoint($screen-xs-min){
				@include span(4);
			}

			@include breakpoint($screen-sm-min){
				@include span(3);
			}

			@include breakpoint($screen-md-min){
				@include span(4 of 12 1.85);
				// @include gutter(0.25);
			}

			.vcenter{
				// outline: solid 1px green;
				min-height: 134px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.site-brand{
			color: #fff;
			font-size: 16px;
			line-height: 1.3;
			// outline: solid 1px green;
			
			@include span(10);
			@include push(1);
			text-align: center;
			
			@include breakpoint($screen-xs-min){ 
				@include span(8);
				text-align: left;
				p br{display:none;}  
			}
 
			@include breakpoint($screen-sm-min){
				@include span(9);
				p br{display: initial;}  
			}
 
			@include breakpoint($screen-md-min){
				@include span(8);
				// p br{display:none;} 
			}
			
			h2{
				font-size: 20px;
				line-height: 1.1;
				margin-bottom: 6px;
				margin-top: 10px;
				border-bottom: none;
				text-transform: uppercase;
				font-weight: 700;

				@include breakpoint($screen-xs-min){
					font-size: 16px;
				}	
				@include breakpoint($screen-sm-min){
					font-size: 20px;
				}

				br{
					@include breakpoint($screen-md-min){
						display: none; 
					}
					@include breakpoint($screen-lg-min){
						display: initial; 
					}
				}
			}

			.vcenter{
				// outline: solid 1px green;
				min-height: 134px;
				display: flex;
				justify-content: center;
				align-items: center;
			}



		}
	}

	// right Layout
	.right{

	}

	// Logo Stuff
	.logo{
		max-width: 100%;
		display: block;
		max-height: 120px; 
		margin: 0 auto;
		
		@include breakpoint($screen-xs-min){
			max-height: initial;
			margin:  0;	 
		}
	}


	// CTA Layout
	.cta-cont{
		// outline: solid 1px green;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 12px;
		box-sizing: border-box;

		.cta-alpha{
			// background-color: #FFF;
			flex: 0 1 100%;
			// overflow: hidden;

			@include breakpoint($screen-xs-min){
				flex: 0 1 48%;
				margin: 0;				
			}

			.header{ 
				@include span(2);
				
				@include breakpoint($screen-xs-min){
					@include span(3);
				}

				@include breakpoint($screen-sm-min){
					@include span(2);
				}

				@include breakpoint($screen-md-min){
					@include span(12);

				}


				@include breakpoint($screen-lg-min){
					@include span(3);
				}
			} 
			
			.body{
				@include span(10);
				
				@include breakpoint($screen-xs-min){
					@include span(9);
					strong{ font-size:14px; }
				}


				@include breakpoint($screen-sm-min){
					@include span(10);
					strong{ font-size:18px; }
				}


				@include breakpoint($screen-md-min){
					@include span(12);
					strong{ font-size:18px; }
				}

				@include breakpoint($screen-lg-min){
					@include span(9);
					strong{ font-size:18px; }
				}
			}
		}
	}

}


#logo h1 {
    height: 0;
    text-indent: -9999px;
}

.phone, .email {
	// background: linear-gradient(#fff 20%, lighten(#000, 90%) 80%);
	border      : 1px solid #c1c1c1;
	box-sizing  : border-box; 
	color       : #000;
	display     : block;
	float       : initial;
	font-size   : 18px;
	font-weight : 400;
	line-height : 1.4;
	overflow    : hidden;
	padding     : 15px 20px;
	text-align  : left;
	transition  : all .2s ease-in;
	width       : 100%; 
	// box-shadow: 1px 1px 1px #000;
	background  : white;
	box-shadow: 0px 0px 4px 0px rgba(66,66,66,0.75);
	&:link, &:visited {
		border-radius: 40px;
	}
	// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.65) 100%);
}


.email .fa,
.phone .fa {
	// float:left !important;
	// color:#ee3a43;
	font-size:36px;
	margin-right: 15px;
}

.phone strong, 
.email strong {
	color:#222222;
    // clear:both;
	// font-family: "Roboto Slab";
	font-size:18px;
	// line-height:24px;
	font-weight:bold;
    transition: all .2s ease-in;
}

.phone:hover,
.email:hover {
	background-color:#222;
	color:#fff !important;
	// border:1px solid #ee3a43;
    transition: all .2s ease-in;
}

.phone:hover strong,
.email:hover strong{
	color:#fff;
}

.header-badge{
    flex-direction: column;
    align-items: center;

    >img{
    	margin-bottom: 20px;
    }

    @media (max-width: 767px){
		display: flex !important;
	}
}

.desktop{
	display: none;

	@media (min-width: 768px){
		display: block;
	}
}

.mobile{
	display: block;

	@media (min-width: 768px){
		display: none;
	}
}