
.slider-nav {
    background: transparent;
    display: block;
    float: left;
    margin: 0 auto;
	top:0px;
    position: absolute;
    // width: 100%;
    z-index: 999999;
}


.slider-nav .menu-header ul, div.menu ul {
	list-style: none;
	margin: 0;
}


.slider-nav .menu-header li, div.menu li {
	float: left;
	position: relative;
}

.slider-nav a {
	border-right    : 2px solid #222222;
	background      : rgba(#ee3a43, 0.8);
	color           : #fff; 
	display         : block;
	font-size       : 14px;
	font-weight     : 700; 
	padding         : 25px 15px;
	box-sizing      : border-box;
	text-decoration : none;

	@include breakpoint($screen-md-min){
		font-size       : 17px;
		font-weight     : 700; 
		padding         : 20px 15px; 
	}
}

.slider-nav li:last-child a{
	border-right:none;
}

.slider-nav ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}

.slider-nav ul ul li {
	min-width: 180px;
}

.slider-nav ul ul ul {
	left: 100%;
	top: 0;
}

.slider-nav ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto; 
}

.slider-nav li:hover > a,
.slider-nav ul ul :hover > a {
	background: #333;
	color: #fff;
}
.slider-nav ul li:hover > ul {
	display: block;
}
.slider-nav ul li.current_page_item > a,
.slider-nav ul li.current_page_ancestor > a,
.slider-nav ul li.current-menu-ancestor > a,
.slider-nav ul li.current-menu-item > a,
.slider-nav ul li.current-menu-parent > a {
	color: darken(#fff, 8%);
	text-decoration: underline; 
}
* html .slider-nav ul li.current_page_item a,
* html .slider-nav ul li.current_page_ancestor a,
* html .slider-nav ul li.current-menu-ancestor a,
* html .slider-nav ul li.current-menu-item a,
* html .slider-nav ul li.current-menu-parent a,
* html .slider-nav ul li a:hover {
	color: #fff;
}
