.metaslider {
  clear: both;
  z-index: 0;
  top: 0;
  position: relative;
}

.home .metaslider .slides img {
  /*display: block;*/
  /*min-height: 500px !important;*/
  /*max-width: 100%;*/
  @media only screen and (min-width: 1024px) {
    min-height: 580px;
    object-fit: cover;
  }
}

// .home #sform {
//     clear: left;
//     position: relative;
//     top: 0px;
//     z-index: 0;
// }

#sform {
  // clear: left;
  position: relative;
  //    top: 0px;
  // min-height:175px;
  //    z-index: 0;
  .metaslider .slides img {
    @media only screen and (min-width: 1024px) {
      min-height: 580px;
      object-fit: cover;
    }
  }
}

.innerwrap {
  list-style: outside none none;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.86);

  @include breakpoint($screen-sm-min) {
    // position: absolute;
    // right: 12px;
    // top: 12px;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    background-color: #999;
    box-shadow: 0px 0px 22px #000;
  }

  @include breakpoint($screen-md-min) {
    // position: absolute;
    right: 12px;
    top: 12px;
    width: 100%;
    z-index: 999;
    background-color: #999;
  }

  @include breakpoint($screen-lg-min) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.86);
    transform: translate(42%, -50%);
  }

  #text-5 {
    margin-bottom: 0;
    .textwidget {
      p {
        margin: 0;
      }
    }
  }
}

.home-widget-area {
  background-color: #ccc;
  padding: 12px;

  @include breakpoint($screen-lg-min) {
    padding: 0;
  }
}

.metaslider .caption-wrap {
  // background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

  // display: block;
  // left: auto;
  // margin: 0 auto;
  // opacity: 1;
  // position: absolute;
  // right: auto;
  // bottom: 32px;
  // width: 100%;
  // z-index: 99999;
  display: none;
}

.metaslider .caption {
  // color: rgb(255, 255, 255);
  // font-family: "Roboto Slab";
  // font-size: 54px;
  // font-weight: bold;
  // line-height: 56px;
  // margin: 0 auto;
  // overflow-wrap: break-word;
  // position: relative;
  // text-shadow: 2px 2px 2px rgb(0, 0, 0);
  // width: 1240px;
  // z-index: 99999;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  // #sform .innerwrap{
  //     /*outline: solid 1px red;*/
  //     position: relative;
  //     width: 100%;
  //     padding: 24px;
  //     background: #999;
  //     top: initial;
  //     right: initial;
  // }
}

@media screen and (min-width: 941px) and (max-width: 1280px) {
  // #sform .innerwrap{
  //     margin-bottom: 68px;
  //     margin-top: -68px;
  // }
}

.innerwrap p,
.innerwrap .widget-container,
.innerwrap .btnred {
  // margin:0 0 0 0 !important;
  text-align: center;
}

.innerwrap .btnred {
  text-align: center;
}
