.container.reasons {
  margin-top: 25px;
  margin-bottom: 25px;
}

.reasonsbox {
  padding    : 40px 0 0px 0;
  box-sizing : border-box;
  overflow   : hidden;
  margin-top : -64px;

  @include breakpoint($screen-sm-min){
    padding    : 40px 20px 0px 20px;
  }
}

[class^="num"] {
  margin       : 0 12px 24px 0;
  overflow     : hidden;
  font-size    : 14px;
  line-height  : 1.6;
  position     : relative;
  padding-left : 3.8em;
  min-height   : 60px;
}

[class^="num"]:before {
  $circle-height: 35px;

  background-color : #ee3a43;
  border-radius    : 50%; 
  box-sizing       : border-box;
  color            : #fff;
  float            : left;
  font-family      : "Roboto Slab",serif;
  font-size        : 1.25rem;
  font-weight      : 700;
  height           : $circle-height;
  left             : 0.5em;
  // line-height      : 55px;
  position         : relative;
  text-align       : center; 
  width            : $circle-height;
  // margin-right     : 12px;
  // margin-bottom    : 0px;
  position: absolute;
}

.num1:before { content: "1."; }
.num2:before { content: "2."; }
.num3:before { content: "3."; }
.num4:before { content: "4."; }
.num5:before { content: "5."; }
.num6:before { content: "6."; }
.num7:before { content: "7."; }
.num8:before { content: "8."; }
.num9:before { content: "9."; }
.num10:before { content: "10."; }

.plus {
  position: relative;
  text-align: center;
  top: -40px;
  display: none;
}

.plus::before {
  background-color : #ee3a43;
  border-radius    : 50%;
  box-sizing       : border-box;
  color            : #fff;
  content          : "+";
  display          : block;
  float            : none;
  font-family      : "Roboto Slab",serif;
  font-size        : 36px;
  font-weight      : 700;
  height           : 60px;
  left             : -25px;
  line-height      : 55px;
  margin           : 0 auto;
  position         : relative;
  text-align       : center;
  top              : -10px;
  width            : 60px;
}