.topbar {
    overflow: hidden;
    // padding: 15px 0 0;
	// font-size:14px;
	// font-weight:400;
	box-sizing:border-box;
	background:#222222; 
	color:#fff;

    .top-container{
        @include container(1240px);
        overflow: hidden; 
    }

    #top_menu{
        // outline: solid 1px green; 
        display: none;

        @include breakpoint($screen-sm-min){
            display: block;
        }

        li{
            display:inline-block; 
            border-right:#7f7f7f solid 1px;
            &:first-child{
                border-left:#7f7f7f solid 1px;
            }

            a{
                display: block;
                color:#fff; 
                transition: all .2s ease-in;
                padding: 20px 25px;
                text-transform: uppercase;

                @include breakpoint($screen-sm-min){
                    padding: 20px 15px;
                }

                @include breakpoint($screen-md-min){
                    padding: 20px 25px; 
                }

                &:hover, &:active{
                    transition: all .2s ease-in;
                    color:#ee3a43;
                }
            }
        }
    }

    .cnss-social-icon{
        margin-top: 6px !important;  
        li{
            a{
                border: solid 1px rgba(#fff, 0.5) !important;
                border-radius: 50%; 
                // padding: 4px;

                // padding: 20px 25px !important;
            }
        }
    }
}



// .topbar ul.cnss-social-icon {
//     list-style-type: none;
//     margin: -7px 0 0;
//     padding: 0;
// }