/*!
Theme Name: ATC Landscape
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten


div {border:1px solid red !important;}*/

@import 'susy';
@import 'breakpoint';
 
$susy: (
	math: fluid,
	output: float, 
	gutter-position: split, 
	container: 1300px,
	container-position: center, 
	columns: 12,
	gutters: 0.25,
	column-width: false,
	global-box-sizing: border-box
); 

$screen-xs-min: 480px; 
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}  
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

h2{font-size:30px;border-bottom:1px solid #c1c1c1;}

h3{font-size:24px;}

h4{font-size:18px;}

ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
main#content {
    display: table-cell;
    margin: 0;
    padding-right: 50px;
	box-sizing:border-box;
    width: 100%;
	vertical-align:top;
}
main#content.one-column{
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
}
section.content.left-sidebar main#content{
    padding-right: 0px;
    padding-left: 20px;
}
aside {
    background: #222 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    display: table-cell;
    min-width: 380px;
	max-width:380px;
    padding: 30px;
	width: 380px;}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'Roboto', sans-serif;
}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: 'Roboto', sans-serif;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
section.content {
	margin: 0 auto;
	width: 1240px;
}
section.content {
	background: #fff;
	padding: 0;
	box-sizing: border-box;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}
body,
input,
textarea {
	color: #252525;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}


ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
    width: 100%;
	box-sizing: border-box;
}
section a:link, section a:visited {
	color: #ee3a43;
	text-decoration: none;
}

.blog section a:active, section a:hover {
	color: #222222 !important;
}

section a:active, section a:hover {
	color: #ee3a43;
	text-decoration: none;
}
a:link, a:visited, a:active, a:hover{
    text-decoration: none;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

-webkit-appearance: none;
border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
/* =Menu
-------------------------------------------------------------- */

@import 'navigation';


/* =Content
-------------------------------------------------------------- */
main#content,
main#content input,
main#content textarea {
	color: #252525;
	font-size: 16px;
	line-height: 30px;
	// padding-top: 24px;
}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
	margin-bottom: 15px;
}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
	margin-bottom: 0;
}
main#content pre,
main#content kbd,
main#content tt,
main#content var {
	font-size: 15px;
	line-height: 21px;
}
main#content code {
	font-size: 13px;
}
main#content dt,
main#content th {
	color: #000;
}
main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
	color: #222;
	line-height: 1.5em;
	font-family: "Roboto Slab";
	margin: 0 0 20px 0;
}
main#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
main#content tr th,
main#content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
main#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
main#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ee3a43;
}
main#content .entry-title {
	color: #222;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 0;
	font-family: "Roboto Slab";
}



.entry-title a:active,
.entry-title a:hover {
	color: #ee3a43;
}

.entry-meta, .entry-meta a {
	color: #222 !important;
	font-size: 12px;
}

.entry-meta a:hover{color:#ee3a43 !important;}

.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
main#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ee3a43;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #222;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #222 !important;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ee3a43 !important;
}
main#content .video-player {
	padding: 0;
}
/* =Asides
-------------------------------------------------------------- */
.home main#content .format-aside p,
.home main#content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
main#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ee3a43;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */

#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
/* =Widget Areas
-------------------------------------------------------------- */
aside select {
	max-width: 100%;
}

.widget_search #s {
    margin-bottom: 10px;
    width: 100%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
aside .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* =Footer
-------------------------------------------------------------- */
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
	body {
		background: none !important;
	}
	section.content {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	.container {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	nav,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	aside {
		display: none !important;
	}
	main#content,
	.container {
		margin: 0;
		width: 100%;
	}
	main#content,
	main#content.one-column {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	.home .sticky {
		border: none;
	}
}

/**********************************GENERAL**********************************/

.left{
	float: left;
}
.right{
	float: right;
}

/* list with pretty red dots */
aside ul, footer ul, main#content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0px;
}

aside li, footer li, main#content li {
  padding-left: 17px; 
  text-indent: -17px;
}
aside li {margin-bottom:10px;}

 aside li::before, 
footer li::before,
main#content li::before{
    color: #ee3a43;
    content: "•";
    font-size: 18px;
    line-height: 18px;
    margin: 0 10px 0 0;
}

.blk .whitebtn:hover{
	background-color:#fff;
	color:#222 !important;
}

.blk .btnoutline:hover {
	color: #222 !important;
}

.blk .btnred:hover {
	color: #ee3a43 !important;
}

.whitebtn {
	border:3px solid #fff;
	color:#fff !important;
	font-size:16px;
	line-height:16px;
	font-weight:700;
	// font-family: "Roboto Slab";
	padding:20px 30px;
	// clear:both;
	margin:15px 0px;
	// float:right;
}

.whitebtn:hover{
	background-color:#fff;
	color:#222 !important;
}

.btnred{
	background-color:#ee3a43;
	border:3px solid #ee3a43;
	color:#fff !important;
	padding:10px 25px;
	// font-family: "Roboto Slab";
	font-size:24px;
	line-height:24px;
	font-weight:400;
	margin:15px 5px;
	clear:both;
	display:inline-block;
}
.btnred:hover{
	background-color:#fff;
	border:3px solid #fff;
	color:#ee3a43 !important;
}

.btnoutline{
	border:3px solid #fff;
	color:#fff !important;
	line-height: 24px;
	font-size:24px;
	font-weight:400;
	background:transparent;
	padding:10px 25px;
	// font-family: "Roboto Slab";
	clear:both;
	margin:15px 5px;
	display:inline-block;
}
.btnoutline:hover{
	background-color:#fff;
	color: #222;
	// border:3px solid #ee3a43;
}

.inline{display:inline-block;vertical-align:top;}

.blk{background-color:#222222;}

.blk span {color:#ee3a43;}

.blk a:hover{color:#fff !important;}

.center {text-align:center;}

.heading{
    font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 60px;
	text-transform: uppercase;}

	.heading span{color:#ee3a43;}


.ltleaf, .dkleaf{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
}

.ltleaf img, .dkleaf img {display:block; margin:0 auto;}

input[type="submit"] {
	background-color:#ee3a43;
	// font-family: "Roboto Slab";
	color: #fff !important;
	font-weight:400;
	font-size:16px;
	padding:10px 25px;
	border:0;
	box-shadow:0;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
input[type="submit"]:hover{
    cursor: pointer;
	background-color:#222;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

::-webkit-input-placeholder { /* WebKit browsers */
color: #c1c1c1 !important;
opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #c1c1c1 !important;
opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #c1c1c1 !important;
opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #c1c1c1 !important;
opacity: 1;
}

/**********************************HEADER**********************************/

@import 'header';


/**********************************TOPBAR**********************************/


@import 'topbar';



/**********************************SLIDER*********************************/


@import 'slider';


/**********************************HOMEPAGE*********************************/


ul.cnss-social-icon li {
	background:#ee3a43 !important;
	color:white !important;
  padding-left: 0 !important; 
  text-indent: 0 !important; 
}

.vidcen ul.cnss-social-icon li.cn-fa-icon a {
    background-color: #ee3a43 !important;
    font-size: 25px !important;
    margin: 0 5px !important;
	width:50px !important;
	height:50px !important;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.vidcen ul.cnss-social-icon li.cn-fa-icon a:hover {
	background-color: #222 !important;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;}

.vidcen .fa {font-size:24px !important; margin-top:10px;}

.formtitle {
    color: #222222;
    // font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0 30px;
    text-align: center;
}


/**********************************AS QUOTED CTA*********************************/

.qwrap{
	// font-family: 'Roboto Slab', serif;
	font-size:36px;
	line-height:40px; 
	font-weight:400;
	color:#fff;
	padding:50px 20px;
	box-sizing:border-box;
	// top:-68px;
	position:relative;
}


/**********************************ABOUT ATC*********************************/

.redbox{
	background: #ee3a43 url("/wp-content/themes/atc/images/redbg.jpg");
	padding:25px;
}

.innerredbox{
	background-color:#ee3a43;
	color:#fff;
	padding:25px;
	border:1px solid white;
	// font-family: "Roboto Slab";
	font-size:18px;
	font-weight:400;
	text-align:center;
	
}

.vidcen .cnss-social-icon {
	margin:20px auto !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vidcen{
	display:block; 
	margin:0 auto;
	width:50%;
	height:80%;
	margin-top:50px;}



/**********************************LANDSCAPE MAINTENENCE SERVICES*********************************/

.lms{
	color:#fff !important;
	padding:40px;
	box-sizing: border-box;}

/* list with pretty red dots */
.lms ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lms li {
  padding-left: 17px; 
  text-indent: -17px;
}

.lms li::before {
    color: #ee3a43;
    content: "•";
    font-size: 18px;
    line-height: 18px;
    margin: 0 10px 0 0;
}

.lms .title {
	font-size:18px;
	font-weight:400;
	line-height:24px;
	font-family: 'Roboto Slab', serif;
	color:#fff;
	margin-bottom:10px;
}

/***************************RESIDENTIAL HOME OWNERS***************************/

  .rho li::before {
    color: #ee3a43;
    content: "•";
    font-size: 18px;
    line-height: 18px;
    margin: 0 10px 0 0;
}
.rho li {
    padding-left: 17px;
    text-indent: -17px;
}
















/**********************************10 REASONS*********************************/

.container.reasons {
  margin-top: 25px;
  margin-bottom: 25px;
}

.reasonsbox {
  padding    : 40px 20px 0px 20px;
  box-sizing : border-box;
  overflow   : hidden;
  margin-top : -64px;
}

[class^="num"] {
  margin      : 0 12px 24px 0;
  overflow    : hidden;
  font-size   : 14px;
  line-height : 1.6;
}

[class^="num"]:before {
  background-color : #ee3a43;
  border-radius    : 50%;
  box-sizing       : border-box;
  color            : #fff;
  float            : left;
//   font-family      : "Roboto Slab",serif;
  font-size        : 36px;
  font-weight      : 700;
  height           : 60px;
  left             : 0.1em;
  line-height      : 55px;
  position         : relative;
  text-align       : center;
  width            : 60px;
  margin-right     : 12px;
  margin-bottom    : 0px;
}

.num1:before { content: "1."; }
.num2:before { content: "2."; }
.num3:before { content: "3."; }
.num4:before { content: "4."; }
.num5:before { content: "5."; }
.num6:before { content: "6."; }
.num7:before { content: "7."; }
.num8:before { content: "8."; }
.num9:before { content: "9."; }
.num10:before { content: "10."; }

.plus {
  position: relative;
  text-align: center;
  top: -40px;
  display: none;
}

.plus::before {
  background-color: #ee3a43;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  content: "+";
  display: block;
  float: none;
//   font-family: "Roboto Slab",serif;
  font-size: 36px;
  font-weight: 700;
  height: 60px;
  left: -25px;
  line-height: 55px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -10px;
  width: 60px;
}












/**********************************AREAS OF EXPERTISE*********************************/

#staffwrap {
	background:white;
	overflow:hidden;
	text-align:center;
	margin-bottom:50px;
}
.readmore{
	// font-family: "Roboto Slab",serif;
	color:#5376bf;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
	margin:20px auto 0px auto;
}

.readmore:hover{
	color:#7a94af;
	
}

.staff {
	border-bottom  : 3px solid #ee3a43;
	margin         : 0 auto 15px;
	position       : relative;
	width          : 90%;
	letter-spacing : .5px;	
	font-size      : 14px;
	font-weight    : 400;
	text-transform : uppercase; 
	// font-family    : "Roboto Slab",serif;
	color          : #fff;
	text-align     : center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238,58,67,0.9);
  text-transform: none;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.staff:hover .overlay {
  height: 100%;
}

.text {
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
  color: white;
  font-size: 14px;
  font-weight:400;
  position: absolute;
  overflow: hidden;
  width:90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textname{
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	// font-family: "Roboto Slab",serif;
	margin-bottom:15px;
	color:#fff;
}

.text p {
	width:100% !important;
	font-family: 'Roboto', sans-serif;}

.staffname{
	color:#283859;
	box-sizing:border-box;
	font-size:14px;
	font-weight:600;
	
}

.staffname strong {
	font-size:16px;
	font-weight:800;}

.bio{
	font-size:18px;
	font-weight:600;
	color:#5376bf;
}

.aboutloc{
	font-size:18px;
	line-height:30px;
	font-weight:400;
	text-align:center;
	padding:60px 0px;
}

.aboutloc strong{
	color:#222;
	// font-family: "Roboto Slab",serif;
	margin-top:20px;
	display:block;
}
/**********************************LOOKING FOR CTA*********************************/

.lookingcta {
	text-align:center;
	padding:100px;
	box-sizing:border-box;
	}

.lookingcta span{
	// font-family: "Roboto Slab",serif;
	font-weight:700;
	color:#fff;
	font-size:30px;
	line-height:36px;
	margin-bottom:20px;
}
/**********************************CLIENT FEEDBACK*********************************/

.feedback{
	padding:60px 0px;
	box-sizing:border-box;
}


.feedback .hms-testimonials-rotator {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(193, 193, 193);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(34, 34, 34, 0.27);
	padding: 30px 30px 30px 0;
	box-sizing:border-box;
}


    

.feedback .hms-testimonials-rotator::before {
    background-color: #ee3a43;
    box-sizing: border-box;
    color: #fff;
    content: "\f10d";
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 36px;
    font-weight: 400;
    height: 60px;
    left: -30px;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 130px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    width: 60px;
}
	

/**********************************LOGOS*********************************/

.logos{text-align:center;margin-top:40px;}

.logos img:hover {opacity:0.5;}


/**********************************Contact + Testimonials Pages*********************************/

.page-id-14 .formtitle{
	text-align:left;
}

.tpage .hms-testimonial-container{ padding-bottom:20px; border-bottom:1px solid #c1c1c1; margin-bottom:20px;}

.tpage  .author{line-height:12px;font-size:14px;font-weight:bold; margin-top:20px;text-align:right;}

.tpage .hms-testimonial-container::before{
    background-color: #ee3a43;
    box-sizing: border-box;
    color: #fff;
    content: "";
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 21px;
    font-weight: 400;
    height: 40px;
    left: -20px;
	top:10px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 130px;
    margin-right: 0;
    position: relative;
    text-align: center;
    width: 40px;}



/**********************************FOOTER**********************************/

@import 'footer'; 

/**********************************SIDEBAR**********************************/

section.content .widget_nav_menu{
    padding-left: 30px;
    padding-right: 0;
}
section.content.left-sidebar .widget_nav_menu{
    padding-left: 0;
    padding-right: 30px;
} 

aside{border-bottom: 40px solid white;}

aside .widget-title {
	font-family: "Roboto Slab",serif;
	font-weight:400;
	color:#ee3a43 !important;
	font-size:18px;
	line-height:18px;
	margin-bottom:15px;
	
	
}

aside a {color:#fff !important;}
aside a:hover, aside a:active {color:#ee3a43 !important;}

aside .widget-container {
    border-bottom: 1px solid #383838;
    box-sizing: border-box;
    hyphens: none;
    line-height: 24px;
    margin: 0 0 30px;
    overflow-wrap: break-word;
    padding-bottom: 30px;
	
}

aside .widget-container:last-child {
	border-bottom:none;
	
}

/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}
.wpcf7-form img.wpcf7-form-control {
    margin-top: -30px;
    position: absolute;
    right: 0px;
}
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok{
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid #ec0000 !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #ec0000;
    margin: 0 !important;
    padding: 0 !important;
}

/**********************************RESPONSIVE STYLES**********************************/
.page-template-fullwidth-page section.content{
  width: 100%;
}
section.content,
div.menu,
#branding,
.container {
  width: 1240px;
}
.fullwidth{
  width: 100%;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
	
// 	header .right{
//     width:80%;
// 	text-align:right;
// 	margin-top:15px;
// }

// header .left {width:20%;}
	
	
	
	.vidcen{width:70%;}
	
	
	.metaslider .caption-wrap {
		left: 50px;
		/*bottom: 60px;*/
		bottom: 12px;
		width: 48%;
	}
	
	// .innerwrap{right:25px;}
	
	
.metaslider .caption {
    color: rgb(255, 255, 255);
    // font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: bold;
	line-height: 46px;
	width:auto;}
	
/*	.num1::before {
	content: "1.";
    background-color: #ee3a43;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: "Roboto Slab",serif;
    font-size: 36px;
    font-weight: 700;
    height: 60px;
    left: -10px !important;
    line-height: 55px;
	margin-bottom:0px;
    margin-right: 5px !important;
    position: relative;
    text-align: center;
    width: 60px;
}*/

	
/*.num1, .num2, .num1,.num3,.num4,.num5,.num6,.num7,.num8,.num9, .num10 {
    font-size: 16px;
    margin: 0 0 25px 0 !important;
}*/
	
	
 .home section.content{
    width: 100% !important;
	
  }
	
	section.content{
    width: 94%;
	
  }
  
.container{
    padding:30px;
	box-sizing:border-box;
  }
	
	footer .container, 
	header .container, 
	.xtopbar .container,
	.copywrap .container,
	.lookingcta .container{
		box-sizing:border-box;
		padding:0 30px;}
	
  #sform .container{padding:0 !important;}
	

	
  div.menu,
  #branding,
  .container {
    margin: 0 auto;
    width: 100%;
  }
  
  /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
  
  aside {
    overflow: hidden;
    width: 23.40425535%; /* 200px / 940px */ 
   
  }
  
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 940px) {
	

		// .phone{width:33%;}
	// .email{width:50%;}
	
	.text p {
    line-height: 21px !important;
    margin-bottom: 0 !important;
	margin-top: 0 !important;
}
	.text 
.whitebtn {
    border: 1px solid #c1c1c1;
    clear: both;
    color: #222;
    float: left;
    // font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    padding: 10px;
}
	
	.textname{margin-bottom:0px;}
	
	section.content {}
	
	.logo{margin-bottom:20px;}
	.infowrap{margin:20px 0px !important;}
	
	
	// .metaslider {
 //    clear: both;
 //    top: 0;}
	
	.qwrap{
	margin: 0 0 50px;
    top: 0;}
	
// 		  nav li:last-child a {
//     border-right: medium none;
// 	padding: 15px 0px 15px 25px !important;
// }
}


	
	
@media screen and (max-width: 768px) {
	
// 	.email .fa, .phone .fa {
//     color: #ee3a43;
//     float: left;
//     font-size: 24px;
//     margin-right: 15px;
// }
	
	.lms .container {padding:0;}
	
	.heading{font-size:32px;}
	

header .right {
    clear: both;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.email, .phone {
	width:100%;
	text-align:left;
	display:block;
	margin:5px auto;}
	
	
	.feedback .hms-testimonials-rotator::before{
		left:0;
	margin-bottom:0px;
	margin-right:10px;}
	
	.feedback .hms-testimonials-rotator{padding:20px;}
	
	.staff{width:100%;}
	
	.vidcen{width:100%;}
	
	.content-column > div {padding:0 0 0 0 !important;}
	
	
	footer{padding:50px 0px;}
	
	footer .widget-container{
		width:100%;
		display:block;
		text-align:center !important;
		margin:0 auto 20px 0;
	}
	
// 	.innerwrap {
//     background: #fff none repeat scroll 0 0;
//     box-sizing: border-box;
//     list-style: outside none none;
//     padding: 10px;
//     position: absolute;
//     right: 50px;
//     top: 20px;
//     width: 250px;
//     z-index: 999;
// }
	
	
	
.lookingcta {
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
	margin-bottom:50px;
}
	
	
	.full_width,
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.three_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
		clear: both !important;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 1em !important;
	}

	
	.topbar .right, .topbar .xleft {
    display: block;
    float: none;
    margin: 0 auto 5px;
    text-align: center;
    width: 100%;
		
	}
	
	.metaslider .caption{display:none;}
	
.home .metaslider .slides img {
    /*display: block;*/
    /*max-width: 100%;*/
    /*min-height: 150px !important;*/
}
	

	
	
	
section.content, .container, main#content, aside, section.content.left-sidebar main#content {
	display: block;
	width: 100% !important;
	padding: 0 20px;
	margin: 0;
	box-sizing: border-box;

	min-width: inherit;
	min-width: initial;
	min-width: unset;
}
section.content{
	padding: 0 !important;
}
section.content .widget_nav_menu,
section.content.left-sidebar .widget_nav_menu {
    padding-right: 0px;
    padding-left: 0px;
}
#copyright, #longevity {
    display: block;
    text-align: center;
    width: 100%;
}
}
@media screen and (max-width: 603px) {
}
@media screen and (max-width: 520px) { 
	
	button#responsive-menu-button {
    background: #222222 none repeat scroll 0 0;
    height: 55px;
    position: absolute;
    right: 2%;
    // top: 130px !important;
    width: 55px;
}
	
	.topbar ul.cnss-social-icon {
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}
}
@media screen and (max-width: 480px) {
	
	.topbar .container{padding: 0 0 0 0 !important;}
}
@media screen and (max-width: 320px) {
}
@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}


/* Home Book A Free Estimate */


@media screen and (max-width: 768px) {
	
	// #sform .innerwrap{
	// 	/*outline: solid 1px red;*/
	// 	position: relative;
	// 	right: initial;
	// 	top: inherit;
	// 	width: 100%;
	// }

	// #sform .innerwrap p{
	// 	text-align: center;
	// }

}





